USE [master]
GO
/****** Object:  Database [Examene si proiecte 1]    Script Date: 12-Jan-26 2:13:56 PM ******/
CREATE DATABASE [Examene si proiecte 1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Examene si proiecte', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Examene si proiecte 1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Examene si proiecte_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Examene si proiecte 1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Examene si proiecte 1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Examene si proiecte 1]
GO
/****** Object:  Table [dbo].[Examen]    Script Date: 12-Jan-26 2:13:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examen](
	[IDExamen] [int] IDENTITY(1,1) NOT NULL,
	[Data] [date] NOT NULL,
	[Ora] [time](7) NOT NULL,
	[Durata] [int] NULL,
	[Sesiune] [varchar](50) NOT NULL,
	[Tip] [varchar](20) NULL,
	[IDMaterie] [int] NOT NULL,
	[IDSala] [int] NULL,
 CONSTRAINT [PK_Examen] PRIMARY KEY CLUSTERED 
(
	[IDExamen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materie]    Script Date: 12-Jan-26 2:13:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materie](
	[IDMaterie] [int] NOT NULL,
	[Nume] [varchar](100) NOT NULL,
	[AnStudiu] [int] NOT NULL,
	[Semestru] [int] NULL,
	[NumarCredite] [int] NULL,
	[IDProfesor] [int] NOT NULL,
 CONSTRAINT [PK_Materie] PRIMARY KEY CLUSTERED 
(
	[IDMaterie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesor]    Script Date: 12-Jan-26 2:13:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesor](
	[IDProfesor] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [varchar](50) NOT NULL,
	[Prenume] [varchar](50) NOT NULL,
	[Email] [varchar](100) NULL,
	[Parola] [varchar](255) NOT NULL,
	[Departament] [varchar](100) NULL,
	[Telefon] [varchar](20) NULL,
 CONSTRAINT [PK_Profesor] PRIMARY KEY CLUSTERED 
(
	[IDProfesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proiect]    Script Date: 12-Jan-26 2:13:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proiect](
	[IDProiect] [int] IDENTITY(1,1) NOT NULL,
	[Titlu] [varchar](200) NOT NULL,
	[Descriere] [text] NULL,
	[Deadline] [date] NOT NULL,
	[Cerinte] [text] NULL,
	[IDMaterie] [int] NOT NULL,
	[Status] [nvarchar](50) NULL,
	[Progres] [int] NULL,
	[IndicatoriCheie] [nvarchar](max) NULL,
 CONSTRAINT [PK_Proiect] PRIMARY KEY CLUSTERED 
(
	[IDProiect] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sala]    Script Date: 12-Jan-26 2:13:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sala](
	[IDSala] [int] NOT NULL,
	[Cladire] [varchar](50) NOT NULL,
	[Etaj] [int] NULL,
	[Capacitate] [int] NULL,
	[CodSala] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Sala] PRIMARY KEY CLUSTERED 
(
	[IDSala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 12-Jan-26 2:13:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[IDStudent] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [varchar](255) NULL,
	[Prenume] [varchar](255) NULL,
	[Email] [varchar](255) NULL,
	[Parola] [varchar](255) NOT NULL,
	[AnStudiu] [int] NULL,
	[DataInregistrare] [datetime] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[IDStudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentExamen]    Script Date: 12-Jan-26 2:13:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentExamen](
	[IDStudent] [int] NOT NULL,
	[IDExamen] [int] NOT NULL,
	[Status] [varchar](20) NULL,
	[DataInscriere] [datetime] NULL,
	[DataSustinere] [date] NULL,
	[Nota] [decimal](4, 2) NULL,
	[id_legatura] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_StudentExamen] PRIMARY KEY CLUSTERED 
(
	[IDStudent] ASC,
	[IDExamen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentProiect]    Script Date: 12-Jan-26 2:13:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentProiect](
	[IDStudent] [int] NOT NULL,
	[IDProiect] [int] NOT NULL,
	[Status] [varchar](50) NULL,
	[DataInscriere] [datetime] NULL,
	[DataPredare] [date] NULL,
	[Nota] [decimal](4, 2) NULL,
 CONSTRAINT [PK_StudentProiect] PRIMARY KEY CLUSTERED 
(
	[IDStudent] ASC,
	[IDProiect] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Examen] ON 

INSERT [dbo].[Examen] ([IDExamen], [Data], [Ora], [Durata], [Sesiune], [Tip], [IDMaterie], [IDSala]) VALUES (1, CAST(N'2025-01-20' AS Date), CAST(N'10:00:00' AS Time), 120, N'Iarna 2025', N'Final', 1, 2)
INSERT [dbo].[Examen] ([IDExamen], [Data], [Ora], [Durata], [Sesiune], [Tip], [IDMaterie], [IDSala]) VALUES (2, CAST(N'2025-01-15' AS Date), CAST(N'14:30:00' AS Time), 90, N'Iarna 2025', N'Partial', 2, 1)
INSERT [dbo].[Examen] ([IDExamen], [Data], [Ora], [Durata], [Sesiune], [Tip], [IDMaterie], [IDSala]) VALUES (3, CAST(N'2025-02-05' AS Date), CAST(N'09:00:00' AS Time), 180, N'Restante', N'Final', 3, 3)
SET IDENTITY_INSERT [dbo].[Examen] OFF
GO
INSERT [dbo].[Materie] ([IDMaterie], [Nume], [AnStudiu], [Semestru], [NumarCredite], [IDProfesor]) VALUES (1, N'Structuri de Date si Algoritmi', 2, 1, 6, 1)
INSERT [dbo].[Materie] ([IDMaterie], [Nume], [AnStudiu], [Semestru], [NumarCredite], [IDProfesor]) VALUES (2, N'Arhitectura Microprocesoarelor', 3, 1, 5, 2)
INSERT [dbo].[Materie] ([IDMaterie], [Nume], [AnStudiu], [Semestru], [NumarCredite], [IDProfesor]) VALUES (3, N'Programare Orientata Obiect (C++)', 1, 2, 6, 1)
GO
SET IDENTITY_INSERT [dbo].[Profesor] ON 

INSERT [dbo].[Profesor] ([IDProfesor], [Nume], [Prenume], [Email], [Parola], [Departament], [Telefon]) VALUES (1, N'Popescu', N'Andrei', N'andrei.popescu@univ.ro', N'$2a$12$V3bGal7wyLeJY2dnY5qduOpVzJXF7DtSt4qP9XxfWG9W5hFoJ7ngK', N'Informatica', N'0722111222')
INSERT [dbo].[Profesor] ([IDProfesor], [Nume], [Prenume], [Email], [Parola], [Departament], [Telefon]) VALUES (2, N'Ionescu', N'Maria', N'maria.ionescu@univ.ro', N'$2a$12$V3bGal7wyLeJY2dnY5qduOpVzJXF7DtSt4qP9XxfWG9W5hFoJ7ngK', N'Matematica', N'0722333444')
INSERT [dbo].[Profesor] ([IDProfesor], [Nume], [Prenume], [Email], [Parola], [Departament], [Telefon]) VALUES (3, N'Vasile', N'George', N'george.vasi@univ.ro', N'$2a$12$V3bGal7wyLeJY2dnY5qduOpVzJXF7DtSt4qP9XxfWG9W5hFoJ7ngK', N'Informatica', N'0722555667')
SET IDENTITY_INSERT [dbo].[Profesor] OFF
GO
SET IDENTITY_INSERT [dbo].[Proiect] ON 

INSERT [dbo].[Proiect] ([IDProiect], [Titlu], [Descriere], [Deadline], [Cerinte], [IDMaterie], [Status], [Progres], [IndicatoriCheie]) VALUES (3, N'Aplicatie CRUD in C++', N'Dezvoltarea unei aplicatii de gestiune folosind clase, mostenire si polimorfism.', CAST(N'2025-01-31' AS Date), N'', 3, N'În desfa?urare', 0, NULL)
INSERT [dbo].[Proiect] ([IDProiect], [Titlu], [Descriere], [Deadline], [Cerinte], [IDMaterie], [Status], [Progres], [IndicatoriCheie]) VALUES (4, N'Protocol de Routing', N'Implementarea unui protocol simplu de routing (ex: Distance Vector).', CAST(N'2025-06-02' AS Date), NULL, 4, N'În desfa?urare', 0, NULL)
INSERT [dbo].[Proiect] ([IDProiect], [Titlu], [Descriere], [Deadline], [Cerinte], [IDMaterie], [Status], [Progres], [IndicatoriCheie]) VALUES (5, N'Shell Custom', N'Dezvoltarea unui interpretor de comenzi (shell) simplu in C.', CAST(N'2026-05-20' AS Date), N'Pipe-uri si redirectionare I/O', 5, N'Finalizată', 100, N'')
SET IDENTITY_INSERT [dbo].[Proiect] OFF
GO
INSERT [dbo].[Sala] ([IDSala], [Cladire], [Etaj], [Capacitate], [CodSala]) VALUES (1, N'Corp A', 1, 50, N'A101')
INSERT [dbo].[Sala] ([IDSala], [Cladire], [Etaj], [Capacitate], [CodSala]) VALUES (2, N'Corp C', 3, 100, N'C309')
INSERT [dbo].[Sala] ([IDSala], [Cladire], [Etaj], [Capacitate], [CodSala]) VALUES (3, N'Corp B', 0, 200, N'Amf. B')
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([IDStudent], [Nume], [Prenume], [Email], [Parola], [AnStudiu], [DataInregistrare]) VALUES (1, N'Radu', N'Ana', N'ana.radu@stud.ro', N'$2a$12$5zffiy43Z9TTYetLSQ6ZMuke3NGV54klaMvyyRQ2R62DMBwvGw4/u', 3, CAST(N'2025-11-14T22:15:58.297' AS DateTime))
INSERT [dbo].[Student] ([IDStudent], [Nume], [Prenume], [Email], [Parola], [AnStudiu], [DataInregistrare]) VALUES (2, N'Popa', N'Ionut', N'ionut.popa@stud.ro', N'$2a$12$5zffiy43Z9TTYetLSQ6ZMuke3NGV54klaMvyyRQ2R62DMBwvGw4/u', 2, CAST(N'2025-11-14T22:15:58.297' AS DateTime))
INSERT [dbo].[Student] ([IDStudent], [Nume], [Prenume], [Email], [Parola], [AnStudiu], [DataInregistrare]) VALUES (3, N'Gheorghe', N'Cristina', N'cristina.g@stud.ro', N'$2a$12$5zffiy43Z9TTYetLSQ6ZMuke3NGV54klaMvyyRQ2R62DMBwvGw4/u', 4, CAST(N'2025-11-14T22:15:58.297' AS DateTime))
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentExamen] ON 

INSERT [dbo].[StudentExamen] ([IDStudent], [IDExamen], [Status], [DataInscriere], [DataSustinere], [Nota], [id_legatura]) VALUES (1, 1, N'Sustinut', CAST(N'2025-11-14T22:15:58.300' AS DateTime), NULL, CAST(9.00 AS Decimal(4, 2)), 1)
INSERT [dbo].[StudentExamen] ([IDStudent], [IDExamen], [Status], [DataInscriere], [DataSustinere], [Nota], [id_legatura]) VALUES (2, 1, N'Sustinut', CAST(N'2025-11-14T22:15:58.300' AS DateTime), NULL, CAST(8.50 AS Decimal(4, 2)), 2)
INSERT [dbo].[StudentExamen] ([IDStudent], [IDExamen], [Status], [DataInscriere], [DataSustinere], [Nota], [id_legatura]) VALUES (3, 2, N'Inscris', CAST(N'2025-11-14T22:15:58.300' AS DateTime), NULL, NULL, 3)
SET IDENTITY_INSERT [dbo].[StudentExamen] OFF
GO
INSERT [dbo].[StudentProiect] ([IDStudent], [IDProiect], [Status], [DataInscriere], [DataPredare], [Nota]) VALUES (2, 5, N'Neinceput', CAST(N'2026-01-11T23:10:05.413' AS DateTime), NULL, NULL)
INSERT [dbo].[StudentProiect] ([IDStudent], [IDProiect], [Status], [DataInscriere], [DataPredare], [Nota]) VALUES (2, 6, N'Neinceput', CAST(N'2026-01-11T23:10:05.413' AS DateTime), NULL, NULL)
INSERT [dbo].[StudentProiect] ([IDStudent], [IDProiect], [Status], [DataInscriere], [DataPredare], [Nota]) VALUES (2, 1009, N'Neinceput', CAST(N'2026-01-11T23:10:05.413' AS DateTime), NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKn0cxx7qsaxhxjhib2aq054nip]    Script Date: 12-Jan-26 2:13:57 PM ******/
ALTER TABLE [dbo].[Profesor] ADD  CONSTRAINT [UKn0cxx7qsaxhxjhib2aq054nip] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKr2ci7x89yaqjj88ktwqgd681m]    Script Date: 12-Jan-26 2:13:57 PM ******/
ALTER TABLE [dbo].[Profesor] ADD  CONSTRAINT [UKr2ci7x89yaqjj88ktwqgd681m] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Professor_Email]    Script Date: 12-Jan-26 2:13:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Professor_Email] ON [dbo].[Profesor]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKmk5jnlbabnr7qs86k2lthk5qy]    Script Date: 12-Jan-26 2:13:57 PM ******/
ALTER TABLE [dbo].[Sala] ADD  CONSTRAINT [UKmk5jnlbabnr7qs86k2lthk5qy] UNIQUE NONCLUSTERED 
(
	[CodSala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CodSala]    Script Date: 12-Jan-26 2:13:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_CodSala] ON [dbo].[Sala]
(
	[CodSala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKe0mrap6jiapgq10kkvgwxxdgu]    Script Date: 12-Jan-26 2:13:57 PM ******/
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [UKe0mrap6jiapgq10kkvgwxxdgu] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKfe0i52si7ybu0wjedj6motiim]    Script Date: 12-Jan-26 2:13:57 PM ******/
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [UKfe0i52si7ybu0wjedj6motiim] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Student_Email]    Script Date: 12-Jan-26 2:13:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Student_Email] ON [dbo].[Student]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Proiect] ADD  DEFAULT ('În desfa?urare') FOR [Status]
GO
ALTER TABLE [dbo].[Proiect] ADD  DEFAULT ((0)) FOR [Progres]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [DF_Student_DataInregistrare]  DEFAULT (getdate()) FOR [DataInregistrare]
GO
ALTER TABLE [dbo].[StudentExamen] ADD  CONSTRAINT [DF_StudentExamen_Status]  DEFAULT ('Inscris') FOR [Status]
GO
ALTER TABLE [dbo].[StudentExamen] ADD  CONSTRAINT [DF_StudentExamen_DataInscriere]  DEFAULT (getdate()) FOR [DataInscriere]
GO
ALTER TABLE [dbo].[StudentProiect] ADD  CONSTRAINT [DF_StudentProiect_Status]  DEFAULT ('Neinceput') FOR [Status]
GO
ALTER TABLE [dbo].[StudentProiect] ADD  CONSTRAINT [DF_StudentProiect_DataInscriere]  DEFAULT (getdate()) FOR [DataInscriere]
GO
ALTER TABLE [dbo].[Examen]  WITH CHECK ADD  CONSTRAINT [FK_Examen_Materie] FOREIGN KEY([IDMaterie])
REFERENCES [dbo].[Materie] ([IDMaterie])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Examen] CHECK CONSTRAINT [FK_Examen_Materie]
GO
ALTER TABLE [dbo].[Examen]  WITH CHECK ADD  CONSTRAINT [FK_Examen_Sala] FOREIGN KEY([IDSala])
REFERENCES [dbo].[Sala] ([IDSala])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Examen] CHECK CONSTRAINT [FK_Examen_Sala]
GO
ALTER TABLE [dbo].[Examen]  WITH CHECK ADD  CONSTRAINT [FKd8bjfxnrvm0v8ac3vb3qwwpwl] FOREIGN KEY([IDSala])
REFERENCES [dbo].[Sala] ([IDSala])
GO
ALTER TABLE [dbo].[Examen] CHECK CONSTRAINT [FKd8bjfxnrvm0v8ac3vb3qwwpwl]
GO
ALTER TABLE [dbo].[Examen]  WITH CHECK ADD  CONSTRAINT [FKenhkmtknt4a7opydsvjgosjmn] FOREIGN KEY([IDSala])
REFERENCES [dbo].[Sala] ([IDSala])
GO
ALTER TABLE [dbo].[Examen] CHECK CONSTRAINT [FKenhkmtknt4a7opydsvjgosjmn]
GO
ALTER TABLE [dbo].[Examen]  WITH CHECK ADD  CONSTRAINT [FKgkfwqmbm9odl8xvwsp75jjywv] FOREIGN KEY([IDMaterie])
REFERENCES [dbo].[Materie] ([IDMaterie])
GO
ALTER TABLE [dbo].[Examen] CHECK CONSTRAINT [FKgkfwqmbm9odl8xvwsp75jjywv]
GO
ALTER TABLE [dbo].[Examen]  WITH CHECK ADD  CONSTRAINT [FKgouq96c7y7acxoop7ce0ajqjb] FOREIGN KEY([IDMaterie])
REFERENCES [dbo].[Materie] ([IDMaterie])
GO
ALTER TABLE [dbo].[Examen] CHECK CONSTRAINT [FKgouq96c7y7acxoop7ce0ajqjb]
GO
ALTER TABLE [dbo].[Materie]  WITH CHECK ADD  CONSTRAINT [FK_Materie_Profesor] FOREIGN KEY([IDProfesor])
REFERENCES [dbo].[Profesor] ([IDProfesor])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Materie] CHECK CONSTRAINT [FK_Materie_Profesor]
GO
ALTER TABLE [dbo].[Materie]  WITH CHECK ADD  CONSTRAINT [FK87iob1089culf00najwx6pfps] FOREIGN KEY([IDProfesor])
REFERENCES [dbo].[Profesor] ([IDProfesor])
GO
ALTER TABLE [dbo].[Materie] CHECK CONSTRAINT [FK87iob1089culf00najwx6pfps]
GO
ALTER TABLE [dbo].[Materie]  WITH CHECK ADD  CONSTRAINT [FKeagr8qkceej899y3dtlwf5e0u] FOREIGN KEY([IDProfesor])
REFERENCES [dbo].[Profesor] ([IDProfesor])
GO
ALTER TABLE [dbo].[Materie] CHECK CONSTRAINT [FKeagr8qkceej899y3dtlwf5e0u]
GO
ALTER TABLE [dbo].[Proiect]  WITH CHECK ADD  CONSTRAINT [FK_Proiect_Materie] FOREIGN KEY([IDMaterie])
REFERENCES [dbo].[Materie] ([IDMaterie])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Proiect] CHECK CONSTRAINT [FK_Proiect_Materie]
GO
ALTER TABLE [dbo].[Proiect]  WITH CHECK ADD  CONSTRAINT [FKar6rsoi9kt4e1ic0hvp314bv1] FOREIGN KEY([IDMaterie])
REFERENCES [dbo].[Materie] ([IDMaterie])
GO
ALTER TABLE [dbo].[Proiect] CHECK CONSTRAINT [FKar6rsoi9kt4e1ic0hvp314bv1]
GO
ALTER TABLE [dbo].[Proiect]  WITH CHECK ADD  CONSTRAINT [FKpue2ufie6wm0mj1utf50f5ayl] FOREIGN KEY([IDMaterie])
REFERENCES [dbo].[Materie] ([IDMaterie])
GO
ALTER TABLE [dbo].[Proiect] CHECK CONSTRAINT [FKpue2ufie6wm0mj1utf50f5ayl]
GO
ALTER TABLE [dbo].[StudentExamen]  WITH CHECK ADD  CONSTRAINT [FK_StudentExamen_Examen] FOREIGN KEY([IDExamen])
REFERENCES [dbo].[Examen] ([IDExamen])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StudentExamen] CHECK CONSTRAINT [FK_StudentExamen_Examen]
GO
ALTER TABLE [dbo].[StudentExamen]  WITH CHECK ADD  CONSTRAINT [FK_StudentExamen_Student] FOREIGN KEY([IDStudent])
REFERENCES [dbo].[Student] ([IDStudent])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StudentExamen] CHECK CONSTRAINT [FK_StudentExamen_Student]
GO
ALTER TABLE [dbo].[StudentProiect]  WITH CHECK ADD  CONSTRAINT [FK_StudentProiect_Proiect] FOREIGN KEY([IDProiect])
REFERENCES [dbo].[Proiect] ([IDProiect])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StudentProiect] CHECK CONSTRAINT [FK_StudentProiect_Proiect]
GO
ALTER TABLE [dbo].[StudentProiect]  WITH CHECK ADD  CONSTRAINT [FK_StudentProiect_Student] FOREIGN KEY([IDStudent])
REFERENCES [dbo].[Student] ([IDStudent])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StudentProiect] CHECK CONSTRAINT [FK_StudentProiect_Student]
GO
ALTER TABLE [dbo].[Examen]  WITH CHECK ADD  CONSTRAINT [CK_Examen_Durata] CHECK  (([Durata]>(0)))
GO
ALTER TABLE [dbo].[Examen] CHECK CONSTRAINT [CK_Examen_Durata]
GO
ALTER TABLE [dbo].[Examen]  WITH CHECK ADD  CONSTRAINT [CK_Examen_Tip] CHECK  (([Tip]='Partial' OR [Tip]='Final' OR [Tip]='Restanta'))
GO
ALTER TABLE [dbo].[Examen] CHECK CONSTRAINT [CK_Examen_Tip]
GO
ALTER TABLE [dbo].[Materie]  WITH CHECK ADD  CONSTRAINT [CK_Materie_AnStudiu] CHECK  (([AnStudiu]>=(1) AND [AnStudiu]<=(4)))
GO
ALTER TABLE [dbo].[Materie] CHECK CONSTRAINT [CK_Materie_AnStudiu]
GO
ALTER TABLE [dbo].[Materie]  WITH CHECK ADD  CONSTRAINT [CK_Materie_NumarCredite] CHECK  (([NumarCredite]>(0)))
GO
ALTER TABLE [dbo].[Materie] CHECK CONSTRAINT [CK_Materie_NumarCredite]
GO
ALTER TABLE [dbo].[Materie]  WITH CHECK ADD  CONSTRAINT [CK_Materie_Semestru] CHECK  (([Semestru]=(1) OR [Semestru]=(2)))
GO
ALTER TABLE [dbo].[Materie] CHECK CONSTRAINT [CK_Materie_Semestru]
GO
ALTER TABLE [dbo].[Proiect]  WITH CHECK ADD CHECK  (([Progres]>=(0) AND [Progres]<=(100)))
GO
ALTER TABLE [dbo].[Sala]  WITH CHECK ADD  CONSTRAINT [CK_Sala_Capacitate] CHECK  (([Capacitate]>(0)))
GO
ALTER TABLE [dbo].[Sala] CHECK CONSTRAINT [CK_Sala_Capacitate]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [CK_Student_AnStudiu] CHECK  (([AnStudiu]>=(1) AND [AnStudiu]<=(4)))
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [CK_Student_AnStudiu]
GO
ALTER TABLE [dbo].[StudentExamen]  WITH CHECK ADD  CONSTRAINT [CK_StudentExamen_Nota] CHECK  (([Nota] IS NULL OR [Nota]>=(1) AND [Nota]<=(10)))
GO
ALTER TABLE [dbo].[StudentExamen] CHECK CONSTRAINT [CK_StudentExamen_Nota]
GO
ALTER TABLE [dbo].[StudentExamen]  WITH CHECK ADD  CONSTRAINT [CK_StudentExamen_Status] CHECK  (([Status]='Absent' OR [Status]='Sustinut' OR [Status]='Inscris'))
GO
ALTER TABLE [dbo].[StudentExamen] CHECK CONSTRAINT [CK_StudentExamen_Status]
GO
ALTER TABLE [dbo].[StudentProiect]  WITH CHECK ADD  CONSTRAINT [CK_StudentProiect_Nota] CHECK  (([Nota] IS NULL OR [Nota]>=(1) AND [Nota]<=(10)))
GO
ALTER TABLE [dbo].[StudentProiect] CHECK CONSTRAINT [CK_StudentProiect_Nota]
GO
ALTER TABLE [dbo].[StudentProiect]  WITH CHECK ADD  CONSTRAINT [CK_StudentProiect_Status] CHECK  (([Status]='Finalizat' OR [Status]='In lucru' OR [Status]='Neinceput'))
GO
ALTER TABLE [dbo].[StudentProiect] CHECK CONSTRAINT [CK_StudentProiect_Status]
GO
USE [master]
GO
